

/* foi definido o plano de fundo cinza, a cor das 
palavras em branco e alinhamento do texto para 
a diteira na  classe contactArea
*/
.contactArea{
 background: #666;
 color: #fff;
 text-align: right;
}

/*foi definido o tamanho da fonte, margem 
para direita e o bloco embutido centralizado*/
.contactColumn{
 font-size: 12px;
 display: inline-block;
 margin-right: 10px;
}
/************************************************************/


/*ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO COM AS OPÇÕES*/
/*foi definido o logotipo a esquerda da tela*/
/**
.logo {
 text-align: left;
}
**/

/*foi definido a largura de imagem de 25%
  e a margem de */
  /**
.logo img {
 width: 25%;
 margin: 10px 0;
}*/

/*foi definido laranja escuro como a cor de fundo
   alinhamento do texto a direita 
   preenchumento 
   e fonte em negrito.*/
.navigation{
 background: #ffc400;
 text-align: right;
 padding: 10px 0;
 font-weight: bold;
 border: 1px solid black;
}

/*foi definido a cor preta para os links
 uma borda preta com preenchimento de 5pixels*/
.navigation a{
 color: #000;
 padding: 5px;
  border: 2px solid #000;
}

/*ESTILIZAÇÃO DA ÁREA DO BANNER*/
/*foi definido a altura da seção em 450 pixel

	plano de fundo laranja escuro
	cor preta para o conteúdo*/
.mastHead {
 height: 700px;
 overflow: hidden;
 background: #ffc400;
 color: #000;
}


/*ESTILIZAÇÃO DO RODAPÉ*/
/*define a cor, o preenchimento e o plano de fundo*/
footer{
 color:#fff;
 background: #666;
 padding: 10px 0px ;

}

/
/*define a cor dos itens no rodapé*/
footer a{
 color: #fff;
}

/*define a fonte em negrito e a borda sólida*/
footer p{
 font-weight: bold;
 
}


section img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

